<h1>{{title}}</h1>

{{#if user}}
<h2>If you're seeing this, then {{user.username}} is currently logged in!</h2>
<img src="https://static.wikia.nocookie.net/d4e1761a-dc9d-4c11-a095-41a0e7c15657" alt="Celebrating Goku">
{{/if}}

<div>

  {{#each top10}}
  <div class="anime-key">
    <br>{{@key}}
    <div class="anime-card">
      <br>{{#each this}}
      <div class="anime-card-info">
        <p><a href="/dev/detailsGet/{{mal_id}}">{{title}}</a></p>
        <img src="{{this.image_url}}" alt="" class="anime-card-image">
      </div>
      {{/each}}
    </div>

  </div>
  {{/each}}


</div>