<a href="/reviews">Back to Reviews</a>

<h1>{{review.title}}</h1>
<h2 hidden>{{review.author}}</h2>
<h2>{{review.animeTitle}}</h2>
<p>{{review.description}}</p>
<p>AnimationStation's Score: {{this.score}}</p>
<p>Reviewed: {{this.createdAt}}</p><br>

{{#if user.username}}
<p><a href="/reviews/{{review._id}}/edit">Edit</a></p>

<!-- Delete button -->
<p>
<form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
  <button type="submit">Delete</button>
</form>
</p>

<br>
<hr>
{{/if}}


<!-- Show Comments -->

{{#each comments}}
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <h2>{{author}}</h2>

    <p class="card-text">{{content}}</p>
  </div>
</div>
{{/each}}

<br>
<hr>


{{#if user}}
<form action="/reviews/comments" method="post">
  <input type="hidden" value="{{review._id}}" name="reviewId">
  <fieldset>
    <legend>Add a Comment</legend>






    <!-- TITLE -->
    <div class="form-group">
      <label for="comment-title">Title</label><br>
      <input class="form-control" id="comment-title" type="text" name="title" placeholder="Title" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="comment-content">Description</label><br>
      <textarea class="form-control" id="comment-content" name="content" rows="10"
        placeholder="Your comment..." /></textarea>
    </div>
    <input hidden type="text" value="{{user.username}}" name="author" />
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>
{{/if}}