<div class="anime-header">
  {{!-- <div class="anime-background-video"> --}}
    <iframe class="anime-video" autoplay src="{{this.trailer_url}}&mute=1"></iframe>
    {{!--
  </div> --}}
  <div class="anime-display">
    <div class="anime-image">
      <img src="{{this.image_url}}" alt="">
    </div>

    <div class="anime-title">
      <h1>{{this.title_english}}</h1><br>
    </div>
  </div>
</div>

<hr>

<br><br>

<h3>Critic's Score</h3>
<p>{{this.score}}</p>

<br><br>

<h3>AnimationStation's Score</h3>
<p><a href="link to all review of this anime">Some score</a></p>

<br><br>

<br><br>

<h3>Genre</h3>
{{#each this.genres}}
<p>{{name}}</p>
{{/each}}

<br><br>

<h3>Description</h3>
<p>{{this.synopsis}}</p>

<br><br>

<h3>Air Dates</h3>
<p>{{this.aired.string}}</p>

<br><br>

<h3>Rating</h3>
<p>{{this.rating}}</p>