<div class="anime-header">
  {{!-- <div class="anime-background-video"> --}}
    {{#if result.trailer_url}}
    <iframe class="anime-video" autoplay src="{{result.trailer_url}}&mute=1"></iframe>
    {{else}}
    <img class="anime-video" src="{{result.image_url}}" alt="No video to show">
    {{/if}}

    <div class="anime-display">
      <div class="anime-image">
        <img src="{{result.image_url}}" alt="">
      </div>

      <div class="anime-title">
        <h1>{{result.title_english}}</h1><br>
      </div>
    </div>
  </div>

  <div class="anime-details">
    <div class="anime-scores">
      <h3>Critic's Score</h3>
      <p>{{result.score}}</p>

      <h3>AnimationStation's Score</h3>
      <p><a href="link to all review of this anime">Some score</a></p>
    </div>

    <div class="anime-genre">
      <h3>Genre</h3>
      {{#each result.genres}}
      <p>{{name}}</p>
      {{/each}}
    </div>

    <div class="anime-air">
      <h3>Air Dates</h3>
      <p>{{result.aired.string}}</p>

      <h3>Rating</h3>
      <p>{{result.rating}}</p>
    </div>
  </div>

  <div class="anime-description">
    <h3>Description</h3>
    <p>{{result.synopsis}}</p>
  </div>

  <h3>Reviews</h3>
  <div class="user-review-card">
    {{#each reviews}}
    <div class="user-reviews">
      <a href="/reviews/{{_id}}">
        <h2>{{title}}</h2>
      </a>
      <p>Anime: <b>{{animeTitle}}</b></p>
      <p>Rating: <b>{{score}}/10</b></p>
      <p>"{{description}}"</p>
      <p><i>{{dateFormat createdAt "MMMM Do, YYYY"}}</i></p>
    </div>

    {{else}}
    <p>{{result.title_english}} has not been reviewed yet.</p>

    {{/each}}
  </div>

  <button onclick="showForm()">Write a review</button>

  <div id="hiddenForm" class="form" style="display: none;">
    {{#if user}}
    <fieldset>

      <legend>
        <h2>New Review</h2>
      </legend>

      <form method="POST" action="/reviews">
        {{!-- <input hidden type="text" value="{{user._id}}" name="author"> --}}

        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Enter title review" />
        <input type="Number" name="mal_id" value="{{result.mal_id}}" hidden />

        <div class="review-items">
          <div>
            <label for="animeTitle">Anime Title:</label>
            <input type="text" name="animeTitle" value="{{result.title_english}}" />
          </div>
          <div>
            <label for="rating">Rating:</label>
            <select name="score" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>



      <label for="description-text">Description:</label>
      <textarea id="description-text" name="description" rows="8" cols="40" placeholder="Your review"/></textarea>

        <button type="submit" class="review-button">Save Review</button>


      </form>

      <form action="/reviews" method="get" class="review-button">
        <button type="submit"> Cancel</button>
      </form>

      {{/if}}
    </fieldset>
  </div>
</div>