<div>

  {{#if user}}

  <h1>Welcome to {{user.username}}'s Profile Page</h1>

  <div class="profile-head">

    <div class="profile-pic">
      <img src="{{user.imageUrl}}" alt="Profile picture">
      <a href="/userProfile/{{user._id}}/edit" class="btn btn-primary">Edit</a>
    </div>

    <div class="profile-info">
      <p><span><i><b>{{user.username}}'s email: </b></i></span>{{user.email}}</p><br>
      <p><span><i><b>Member since: </b></i></span>{{dateFormat user.createdAt "MMMM Do, YYYY"}}</p><br>
      <p><span><i><b>Total animes reviewed: </b></i></span>{{#if
        reviews}}<a href="#reviews">{{reviews.length}}</a>{{else}}You have not yet reviewed an anime.{{/if}}</p>
      <br>

    </div>

  </div>

  <div class="profile-gif">
    <h2>You Rock!!!</h2>
    <img src="{{happyGIF}}" alt="Luffy fist pumping">
  </div>

  <br><br><br>


  <div id="reviews" class="user-reviews-title">
    <h2>Recently Reviewed Animes</h2>
    <a href="link to all user reviews">See all</a>
  </div>
  <div class="user-review-card">
    {{#each reviews}}
    <div class="user-reviews">
      <a href="/reviews/{{_id}}">
        <h2>{{title}}</h2>
      </a>
      <p>Anime: <b>{{animeTitle}}</b></p>
      <p>Rating: <b>{{score}}/10</b></p>
      <p>"{{description}}"</p>
      <p><i>{{dateFormat createdAt "MMMM Do, YYYY"}}</i></p>
    </div>

    {{else}}
    <p>{{user.username}} has not reviewed any animes yet.</p>

    {{/each}}
  </div>

  {{/if}}

</div>