<p>Hi {{user.username}}! Welcome to your profile page!</p>
{{user}}
{{user.username}}
{{user.email}}
{{user.passwordHash}}
<img src="https://media0.giphy.com/media/wzWxTUiXRQDYc/200.gif" alt="Luffy picking nose">