<p>{{#if user}}
  Hi {{user.username}}! Welcome to your profile page!
  {{else}}Sorry, stranger. You must be logged in.
  {{/if}}
</p>

<p>{{user.username}}</p>
<p>{{user.email}}</p>
<p>{{user.passwordHash}}</p>

{{#if user}}
<img src="https://64.media.tumblr.com/404421fddab40e4853ae802a58de1ee4/tumblr_nlk442HDAR1rbtyq6o1_500.gifv"
  alt="Luffy fist pumping">
{{else}}
<img src="https://media0.giphy.com/media/wzWxTUiXRQDYc/200.gif" alt="Luffy picking nose">
{{/if}}